@charset "utf-8";

/*添加按钮*/
#class_add_button{border:2px solid rgba(255,255,255,0.8);padding:3px 20px;margin-left: 90%;border-radius:10px;}
#class_add_button:hover{border:2px dashed rgba(255,255,255,0.8);background:rgba(255,204,51,0.6);}

/*课程列*/
.class_col1{width:20%;border:1px solid orange;}
.class_col2{width:20%;border:1px solid orange;}
.class_col3{width:10%;border:1px solid orange;}
.class_col4{width:10%;border:1px solid orange;}
.class_col5{width:18%;border:1px solid orange;}
.class_col6{width:22%;border:1px solid orange;}
